* {
    box-sizing: border-box;
}

body {
    font-family: 'Chewy', cursive;
    margin: 0;
    background-image: url("home.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.navbar {
    background-color: rgba(255, 182, 193, 0.95); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.navbar h1 {
    font-size: 28px;
    color: #c2185b; 
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #2c3e50;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #e91e63;
    color: white;
}

.welcome {
    margin: 100px 50px;
    padding: 30px;
    background-color: rgba(255, 182, 193, 0.85); 
    border-radius: 15px;
    text-align: left;
}

.welcome h2 {
    font-size: 36px;
    color: #c2185b;
    margin-bottom: 15px;
}

.welcome p {
    font-size: 18px;
    color: #2c3e50;
    line-height: 1.6;
}
footer {
    text-align: center;
    font-size: 12px;
}